﻿@model CompetitorManagerOnline.Models.MergeModel
@{
    ViewData["Title"] = "DisplayInfo";
}

<h1>DisplayInfo</h1>

<div>
    <h4>Competitor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competitor.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competitor.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competitor.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competitor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competitor.Nationality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competitor.Nationality)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competitor.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competitor.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competitor.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competitor.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competitor.Sport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competitor.Sport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Competitor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
