﻿@{
    ViewData["Title"] = "Home Page";
}

@{
    var allCompetitors = (List<MergeModel>)ViewData["CompetitorList"];
}
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Sport</th>
                <th scope="col">Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comp in allCompetitors)
            {
                <tr>
                    <th scope="row">@comp.Competitor.Id</th>
                    <td>@comp.Competitor.FirstName</td>
                    <td>@comp.Competitor.LastName</td>
                    <td>@comp.Competitor.Sport</td>
                    <td>@comp.Team.Name</td>
                    <td>
                        <a asp-action="DisplayInfo" asp-route-id="@comp.Competitor.Id">More</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
