﻿@model CompetitorManagerOnline.Models.Competitor

@{
    ViewData["Title"] = "Register";
}

@using (Html.BeginForm("RegisterCompetitor", "Home", FormMethod.Post))
{
    <form>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name" name="firstName">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" name="lastName">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="number" class="form-control" placeholder="Age" name="age">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Height" name="height">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nationality" name="nationality">
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Sport" name="sport">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Team" name="team">
            </div>
        </div>
        <td><input type="submit" value="Submit"/></td>
    </form>
}
